
<div class="container">
  <div class="players">
    <app-player
      mwlDraggable 
      *ngFor="let player of filteredPlayers" 
      [player]="player" 
      [dropData]="player.name"
    ></app-player>
  </div>
  <div class="field-container">
      <div class="field">
          <app-player-target 
            *ngFor="let target of targets; let i=index" 
            mwlDroppable 
            (drop)="droppedPlayer($event, i)"
            [player]="target"
            [id]="i"
          ></app-player-target>
        </div>
  </div>

</div>