.card {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  border: solid 1px gray;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat', sans-serif;
}

.card-inset-green {
  box-shadow: inset 0px 35px 0px -24px rgba(84,186,47,1);
}

.card-inset-red {
  box-shadow: inset 0px 35px 0px -24px rgba(214,45,45,1);
}

.city-name {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(175, 180, 223);
}

.lower-box {
  display: flex;
}

.description-container {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.temp-container {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.pressure-box {
  padding-top: 25px;
}